@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(193, 226, 215);
}

p, h1 {
    margin-bottom: 20px;
}

div.container {
    height: 100vh;
    display: grid;
    grid-template: 2fr 1fr 6fr 1fr / 1fr 1fr 1fr;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    text-align: center;
    padding: 10px;
    background-color: rgb(105, 99, 99);
    color: white;
}

nav {
    grid-row: 2 / 3;
    grid-column: 1 / span 3;
    background-color: white;
    margin-bottom: 20px;
}

nav > ul {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: center;
    list-style-type: none;
}

nav > ul > li {
    border: 1px solid black; 
    padding: 10px;
    margin: 10px;
    font-size: 1.1em;
    background-color: black;
    color: white;
    border-radius: 10px;
}

nav > ul > li:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

#div-main {
    grid-row: 3 / 4;
    grid-column: 1 / span 2;
}

main {
    margin: auto;
    width: 85%;
    padding: 10px;
    text-indent: 20px;
    text-align: justify;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

#div-anuncio {
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
}

section {
    background-color: rgb(248, 215, 215);
    width: 90%;
    margin: auto;
    padding: 10px;
    font-size: 0.9em;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.205);
}

footer {
    grid-row: -2 / -1;
    grid-column: 1 / -1;
    text-align: center;
    padding: 10px;
    background-color: rgb(105, 99, 99);
    color: white;
}