@charset "UTF-8";

header > h1 {
    font-size: 1.3em;
}

header > p {
    font-size: 0.8em;
}

main {
    margin: 0;
    box-shadow: none;
}

article > div.text {
    flex: 1 1 auto;
}

article > div.media {
    flex: 1 1 auto;
}

div.media > img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    height: 200px;
}

div.media > iframe {
    display: block;
    margin: auto;
    width: 90%;
    min-height: 60%;
}

