@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

h1, h2, p {
    margin-bottom: 10px;
    text-align: justify;
}

p {
    text-indent: 20px;
}

header, section.normal {
    padding: 20px;
}

header {
    background-color: rgb(54, 54, 54);
    color: white;
}

header > h1 {
    text-align: center;
    text-transform: uppercase;
}

header > p {
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.301);
}

@media screen and (max-width: 1240px) {
    main {
        margin: 20px;
    }
}

section.flex-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    border-radius: 6px 0px;
    background-color: rgb(216, 211, 211);
}

section > article {
    margin-bottom: 20px;
}

article.text-media {
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article > div.text {
    flex: 1 1 500px;
}

article > div.media {
    flex: 1 0 500px;
}

div.media > img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    height: 400px;
}

div.media > iframe {
    display: block;
    margin: auto;
    width: 90%;
}

footer {
    padding: 20px;
    background-color: rgb(54, 54, 54);
    color: white;
}

footer > p {
    text-align: center;
}